# APP
DATABASE_URL="mysql://root:pw@localhost:3306/jmcnet"
PORT=9091
NODE_ENV=development
JWT_SECRET="jmcnetsecretkey2026"
BASE_URL="http://localhost:9091"

# DB
MYSQL_DATABASE=jmcnet
MYSQL_ROOT_PASSWORD=pw

# URL
CLIENT_URL="http://localhost:3000"

# File
UPLOAD_ALLOWED_MIME=image/jpeg,image/png,image/webp
CHATBOT_ALLOWED_MIME=application/pdf,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel
UPLOAD_MAX_FILE_SIZE=5242880 # 5MB
UPLOADS_PATH=uploads

# Initial Admin
INITIAL_ADMIN_EMAIL="admin@jmcnet.id"
INITIAL_ADMIN_PASSWORD="adminpassword123"

# Cookie
COOKIE_DOMAIN=localhost

# Allowed Origins
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173
GROQ_API_KEY=""
